@import "../../assets/styles/constants";
@import "../../assets/styles/colors";

$padding: 20px;

.rate_recipe {
  .title {
    padding: $padding;
    border-bottom: solid 1px $gray-dark;
    font-size: 24px;
    font-weight: 300;
  }

  .content {
    padding: $padding;
  }

  .message{
    text-align: center;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
  }

  .rate {
    padding-bottom: 30px;
    text-align: center;

    svg {
      width: 38px;
      height: 36px;
      margin-right: 5px;
    }

    .filled {
      svg {
        path {
          fill: $primary-light;
        }
      }
    }

    .empty {
      svg {
        path {
          stroke: $gray-dark;
          stroke-width: 1px;
        }
      }
    }
  }

  .comments {
    textarea {
      height: 68px;
      padding: 10px;
      color: $black-light;
      resize: none;
      min-width: 100%;
      font-size: 16px;
      font-weight: 400;
      border: solid 1px $gray-dark;
      border-radius: 3px;
    };
  }

  .buttons {
    padding-top: $padding;
    display: flex;
    justify-content: space-between;

    $red-light: #FF5A00;
    $red: #e14000;

    .button_content {
      box-shadow: 0px 0px 0px 1px $red-light inset;

      &:hover {
        background-color: $red;
        color: $white;
      }
    }

    .button_cancel {
      .button {
        .button_content {
          color: $red-light;

          &:hover {
            color: $white;
          }
        }
      }
    }

    .button_save {
      .button {
        background-color: $red-light;

        .button_content {
          color: $white;
        }
      }
    }
  }

}

.modal_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
}

.modal_inner {
  outline: none;
  min-width: 300px;
  background-color: $white;
}

.body_modal_open {
  // overflow: hidden;
}
