@import "../../../assets/styles/constants";
@import "../../../assets/styles/colors";

.article_description {
  padding: 20px 10px;
  border: solid 1px $gray-light;

  @media only screen and (min-width: $media-step-small) {
    padding: 20px 30px;
  }

  .description_block {
    display: flex;

    @media only screen and (max-width: $media-step-medium) {
      flex-wrap: wrap;
    }
  }

  .description {
    padding-right: 15px;
    padding-bottom: 10px;
  }

  .prep_info {
    min-width: 300px;

    .prep_item {
      display: flex;

      &:not(:first-child) {
        margin-top: 15px;
      }

      .prep_title {
        font-size: 16px;
        font-weight: bold;
      }

      .prep_details {
        margin-left: auto;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .tags {
    padding-top: 20px;

    .tags_title {
      padding-right: 10px;
      font-weight: bold;
    }

    .tags_item,
    .tags_item_divide {
      color: $gray-medium;
    }

    .tags_item_divide {
      margin: 0 5px;
    }
  }
}
