@import "../../assets/styles/constants";
@import "../../assets/styles/colors";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .content {
    margin: 40px auto;
    width: 100%;

    @media only screen and (min-width: $media-step-small) {
      max-width: $content-width-small;
    }

    @media only screen and (min-width: $media-step-medium) {
      max-width: $content-width-medium;
    }

    @media only screen and (min-width: $media-step-large) {
      max-width: $content-width-large;
    }
  }
}