$white: #fff;
$black: #000;
$black-light: #343434;
$gray: #ccc;
$gray-dark: #b0aba3;
$gray-light: #f7f6f4;
$gray-medium: #999;

$content-background: #f7f6f4;
$container-background-light: #fdfcfa;
$hr-color: #eceae6;

$primary-light: #274dc1;
$primary-normal: #226ac1;
$error-color: #D80C00;
$error-background-color: #FFBABA;